TUPLE

In [ ]:
my_tuple = (11, 15, 43, 56, 72)

# Mengakses elemen berdasarkan indeks
print(my_tuple[0])
print(my_tuple[4])

# Menggunakan slicing untuk mengakses sebagian tuple
print(my_tuple[1:3])

11
72
(15, 43)

Menggabungkan Tuple

In [ ]:
tuple1 = (11, 12, 13)
tuple2 = (24, 25, 26)

combined_tuple = tuple1 + tuple2
print(combined_tuple)

(11, 12, 13, 24, 25, 26)

Mengetahui Panjang Tuple

In [ ]:
my_tuple = (11, 12, 13, 24, 25, 26)
length = len(my_tuple)
print(length)

6

Mengetahui Jumlah Kemunculan Elemen dalam Tuple

In [ ]:
my_tuple = (11, 25, 25, 24, 25, 26, 11, 25)
count = my_tuple.count(25)
print(count)

4

Mengetahui Indeks Pertama Kemunculan Elemen dalam Tuple

In [ ]:
my_tuple = (11, 25, 25, 24, 25, 26, 11, 25)
index = my_tuple.index(26)
print(index)

5

DICTIONARY

In [ ]:
person = {
    "Nama": "Cristiano Ronaldo",
    "Umur": "38",
    "No.Tlp": "083154088540",
    "Pekerjaan": "Pesebakbola"
}

# Mengakses nilai berdasarkan kunci (key)
print(person["Nama"])
print(person["Umur"])
print(person["No.Tlp"])
print(person["Pekerjaan"])

Cristiano Ronaldo
38
083154088540
Pesebakbola

Menambahkan Elemen Dictionary

In [ ]:
person = {
    "Nama": "Cristiano Ronaldo",
    "Umur": "38",
    "No.Tlp": "083154088540",
    "Pekerjaan": "Pesepakbola"
}

person["Alamat"] = "Lisbon"

In [ ]:
# Mengakses nilai berdasarkan kunci (key)
print(person["Nama"])
print(person["Umur"])
print(person["No.Tlp"])
print(person["Pekerjaan"])
print(person["Alamat"])

Cristiano Ronaldo
38
083154088540
Pesepakbola
Lisbon

Mengubah Nilai Elemen Dictionary

In [ ]:
person["Pekerjaan"] = "Petarung MMA"

In [ ]:
# Mengakses nilai berdasarkan kunci (key)
print(person["Nama"])
print(person["Umur"])
print(person["No.Tlp"])
print(person["Pekerjaan"])
print(person["Alamat"])

Cristiano Ronaldo
38
083154088540
Petarung MMA
Lisbon

Menghapus Elemen Dictionary

In [ ]:
del person["No.Tlp"]
print(person)

{'Nama': 'Cristiano Ronaldo', 'Umur': '38', 'Pekerjaan': 'Petarung MMA', 'Alamat': 'Lisbon'}